@charset "UTF-8";
/*
Theme Name: Hightek 2020
Theme URI: http://hightek.com.mx
Author: Karen Olivia
Author URI: http://hightek.com.mx
Version: 1.0.0
Description: Tema para hightek.com.mx
*/
html {margin-top: 0px !important;}
.text-ar-n p { color: #70be4b; }
/*DGIT*/
.img-full, .img-full img {
  width: 100%;
}

.sin-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.sin-padding-left {
  padding-left: 0 !important;
}

.sin-padding-right {
  padding-right: 0 !important;
}

.padding-middle {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

.position-relative {
  position: relative;
}

.mrg-top-15 {
  margin-top: 15px;
}

.mrg-top-30 {
  margin-top: 40px;
}

.mrg-top-40 {
  margin-top: 40px;
}

.mrg-btm-25 {
  margin-bottom: 25px;
}

.mrg-btm-30 {
  margin-bottom: 30px;
}

.mrg-btm-40 {
  margin-bottom: 40px;
}

.mrg-btm-80 {
  margin-bottom: 80px;
}

.pdg-top-40 {
  padding-top: 40px;
}

/**
 * 4.0 Header
 * -----------------------------------------------------------------------------
 */
.accessibility-controls .plus-letter.max-allowed {
  background-color: #4a4a4a !important;
  color: #fff;
}
.accessibility-controls .minus-letter.min-allowed {
  background-color: #4a4a4a !important;
  color: #fff;
}

.modo_nocturno {
  background-color: #000 !important;
}
.modo_nocturno .top-header {
  border-bottom: 1px solid;
}
.modo_nocturno #wrapper-menu-header {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.modo_nocturno a:hover {
  opacity: 0.7 !important;
}
.modo_nocturno .top-footer {
  display: none;
}
.modo_nocturno .accessibility-controls a {
  background-color: #fff !important;
}
.modo_nocturno .accessibility-controls .btn-nocturno {
  background-color: #4a4a4a !important;
}
.modo_nocturno .accessibility-controls i {
  background-color: transparent !important;
  color: #000 !important;
}
.modo_nocturno #responsive-menu-button {
  background-color: transparent !important;
}
.modo_nocturno * {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #fff !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
.modo_nocturno #sidr-menu .nav-menu-header li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.modo_nocturno #sidr-menu .nav-menu-header a {
  color: #fff !important;
}
.modo_nocturno .bg-texture-btm, .modo_nocturno .bg-texture-top {
  z-index: -1;
}
.modo_nocturno ::selection {
  background: #d9b400;
  color: #fff;
}

.top-header {
  background-color: #DEDAD0;
  background-repeat: repeat-x;
  padding: 3px 0;
}
.top-header span {
  display: inline-block;
  font-size: 0.875em;
  color: #fff;
  padding: 5px 25px;
  background-color: #DEDAD0;
}
.top-header .fecha {
  font-family: "pantonbold";
}

#responsive-menu-button {
  display: inline-block;
  font-size: 27px;
  vertical-align: middle;
  color: #AA983F;
  padding: 4px 9px;
  line-height: 32px;
  margin-right: 14px;
}

#responsive-menu-button:hover {
  border-radius: 4px;
  background-color: #DDDAD0;
}

.logo-veracruz, .logo-veracruz-n, .logo-dependencia, .logo-dependencia-n {
  display: inline-block;
  margin-right: 40px;
  margin-top: 15px;
}
.logo-veracruz img, .logo-veracruz-n img, .logo-dependencia img, .logo-dependencia-n img {
  max-width: 164px;
}

.brand-sublogo, .brand-sublogo-n {
  margin-top: 15px;
  display: inline-block;
}
.brand-sublogo img, .brand-sublogo-n img {
  width: 107px;
}

.overlay-web-full {
  display: block;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: #000;
  position: fixed;
  z-index: 104;
  top: 0;
}

/*menu secudario*/
#sidr-menu .only-show-nav-second {
  display: block;
}
#sidr-menu .nav-second-footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 20px 15px;
}
#sidr-menu .nav-second-footer span {
  display: block;
  padding-bottom: 5px;
}
#sidr-menu .top-menu-secundario {
  text-align: center;
  background-color: #E2E2E2;
  padding: 2px;
}
#sidr-menu .top-menu-secundario .fecha {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 13px;
  color: #666666;
}
#sidr-menu .accessibility-controls {
  margin: 20px 15px 0;
}
#sidr-menu .accessibility-controls li {
  display: inline-block;
  margin-right: 11px;
}
#sidr-menu .accessibility-controls li:last-child {
  margin-right: 0px;
  float: right;
}
#sidr-menu .accessibility-controls a {
  display: block;
  border-radius: 9px;
  text-align: center;
  padding: 2px 4px 2px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 39px;
  background-color: #E2E2E2;
  color: #AA983F;
}
#sidr-menu .accessibility-controls a.format-size {
  line-height: 37px;
  text-align: initial;
}
#sidr-menu .accessibility-controls a:hover {
  color: #fff;
  background-color: #4a4a4a;
}
#sidr-menu #navigation {
  margin-top: 20px;
  background-color: #DDDAD0;
}
#sidr-menu .nav-menu-header {
  /*menu - nivel 1*/
}
#sidr-menu .nav-menu-header a {
  color: #49453C !important;
}
#sidr-menu .nav-menu-header .sub-menu {
  background-color: #7A6F44;
  width: 100%;
}
#sidr-menu .nav-menu-header .sub-menu a {
  color: #fff !important;
}
#sidr-menu .nav-menu-header .sub-menu a:hover, #sidr-menu .nav-menu-header .sub-menu a:focus {
  background-color: transparent;
}
#sidr-menu .nav-menu-header li {
  width: 100%;
}
#sidr-menu .nav-menu-header li:hover .sub-menu {
  position: initial !important;
}
#sidr-menu .nav-menu-header li.menu-item-has-children > a {
  background-position: 94% center;
  background-size: 22px;
  background-repeat: no-repeat;
  background-image: url(images/header/icon-bullet-child-second-nav.png);
}
#sidr-menu .btn-suscribirse {
  margin-top: 14px;
  float: initial;
}

.only-show-nav-second {
  display: none;
}

/*---- /Menu navegación/ -----*/
#wrapper-menu-header {
  background-color: #AA983F;
}

/*menu secundario*/
#sidr-menu ul.nav-menu-header li > ul {
  display: none;
  list-style: none;
  margin: 0;
}

#sidr-menu ul.nav-menu-header li.active > ul {
  display: block !important;
}

.nav-menu-header {
  margin: 0;
  padding: 0;
  /*--- nivel-1 ---*/
}
.nav-menu-header li {
  position: relative;
  margin: 0px;
}
.nav-menu-header li.menu-item-has-children > a {
  background-position: 14px center;
  background-size: 14px;
  background-repeat: no-repeat;
  background-image: url(images/header/icon-bullet-child.png);
}
.nav-menu-header a {
  display: block;
  font-size: 1.064em;
  text-transform: uppercase;
  color: #DDDAD0;
  font-family: "Ubuntu";
  font-weight: 500;
  padding: 7px 35px 7px;
}
.nav-menu-header a:hover {
  color: #fff;
}
.nav-menu-header .sub-menu {
  display: none;
  width: 200px;
  left: 0;
  z-index: 10;
}
.nav-menu-header .sub-menu li {
  margin: 0;
}
.nav-menu-header .sub-menu li a {
  text-transform: capitalize;
  line-height: 18px;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 35px 9px;
  display: block;
  border-bottom: 1px solid #E5E5E5;
}
.nav-menu-header .sub-menu li:last-child a {
  border-bottom: none !important;
}
.nav-menu-header .sub-menu li:hover a {
  background-position: 14px center;
  background-size: 14px;
  background-repeat: no-repeat;
  background-image: url(images/header/icon-bullet-child.png);
}
.nav-menu-header .sub-menu li a:hover,
.nav-menu-header .sub-menu li a:focus {
  text-decoration: none;
  color: #7A6F44;
  background-color: #FFFFFF;
}
.nav-menu-header li:last-child .sub-menu {
  right: 0 !important;
  left: inherit !important;
}

#wrapper-menu-header .nav-menu-header {
  /*--- nivel-2 ---*/
}
#wrapper-menu-header .nav-menu-header li:hover .sub-menu {
  list-style: none;
  margin: 0;
  text-align: left;
  display: block !important;
  position: absolute;
  z-index: 101;
  background-color: rgba(122, 111, 68, 0.9);
  top: 39px;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

/*---- /Fin Menu navegación/ -----*/
/*---- /Modals/ -----*/
.btn-suscribirse {
  float: right;
  font-family: "Verdana";
  font-weight: bold;
  color: #49453C;
  background-color: #DDDAD0;
  padding: 12px 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
}

#modal-search .modal-content {
  border: none;
  border-radius: 0;
}
#modal-search .modal-header {
  background-color: #AA983F;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#modal-search .modal-header .searchform {
  width: 100%;
}
#modal-search .modal-header input {
  padding-left: 19px;
  border: 0;
  border-radius: 12px;
  height: 48px;
  width: 100%;
}
#modal-search .modal-header .form-group {
  margin-bottom: 0;
  padding: 10px 18px;
}
#modal-search .modal-header #searchsubmit {
  width: 48px;
  height: 48px;
  background-color: #7A6F44;
  padding: 1px;
  border: none;
  border-radius: 13px;
  float: right;
}
#modal-search .modal-header .icon-search {
  color: #DDDAD0;
  font-size: 34px;
}
#modal-search .modal-header .close {
  text-shadow: none;
  opacity: 1;
  font-size: 1.25em;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  color: #AA983F;
  background-color: #DDDAD0;
  padding: 0px 10px;
  display: block;
  height: 48px;
  width: 48px;
  margin: 11px 0 0 0;
}
#modal-search .modal-body {
  background-color: #DDDAD0;
  padding: 15px 30px;
}
#modal-search .modal-body a {
  font-family: "Verdana";
  font-weight: normal;
  color: #666666;
}
#modal-search .modal-body .content-box-sugerencias {
  border-right: 1px solid #AA983F;
}
#modal-search .modal-body h3 {
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: "Verdana";
  font-weight: bold;
  color: #49453C;
  padding-bottom: 15px;
  border-bottom: 1px solid #AA983F;
  font-size: 1.064em;
  padding-left: 10px;
}
#modal-search .modal-body ul {
  list-style: none;
}
#modal-search .modal-body li {
  margin-bottom: 8px;
}
#modal-search .modal-body li::before {
  font-size: 0.75em;
  content: "■";
  color: #70be4b;
  font-weight: bold;
  display: inline-block;
  width: 12px;
  margin-left: -12px;
}
#modal-search .modal-footer {
  background-color: #AA983F;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#modal-search .modal-footer span {
  float: left;
  padding-right: 27px;
  padding-top: 7px;
  font-family: "Verdana";
  color: #ffffff;
  font-weight: bold;
}
#modal-search .modal-footer .icon-newsletter {
  float: right;
  line-height: 20px;
  font-size: 45px;
  color: #fff;
}

#modal-pregunta-gobernador .content-header-modal, #modal-suscribete .content-header-modal {
  width: 100%;
}
#modal-pregunta-gobernador .modal-content, #modal-suscribete .modal-content {
  background-image: url("images/home/texture-form.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 209px;
  background-color: #4F5970;
  border: none;
  border-radius: 20px;
}
#modal-pregunta-gobernador .modal-content #form-pregunta-gobernador, #modal-suscribete .modal-content #form-pregunta-gobernador {
  text-align: center;
}
#modal-pregunta-gobernador .modal-content .alert, #modal-suscribete .modal-content .alert {
  margin-top: 20px;
  margin-bottom: 0;
  display: inline-block;
}
#modal-pregunta-gobernador .modal-content .alert-fail, #modal-suscribete .modal-content .alert-fail {
  background-color: #af074c;
  color: #fff;
}
#modal-pregunta-gobernador .modal-content .alert-success, #modal-suscribete .modal-content .alert-success {
  color: #ffffff;
  background-color: #688e43;
  border-color: #6c9e77;
}
#modal-pregunta-gobernador .modal-header, #modal-suscribete .modal-header {
  background-color: #7B7755;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#modal-pregunta-gobernador .modal-header .img-full, #modal-suscribete .modal-header .img-full {
  position: relative;
  margin-top: -25px;
  float: right;
  text-align: right;
  max-width: 169px;
}
#modal-pregunta-gobernador .modal-header p, #modal-suscribete .modal-header p {
  margin-bottom: 0;
  line-height: 29px;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 36px;
  color: #fff;
  padding-top: 15px;
}
#modal-pregunta-gobernador .modal-header span, #modal-suscribete .modal-header span {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 32px;
  color: #CAA500;
}
#modal-pregunta-gobernador .modal-header .close, #modal-suscribete .modal-header .close {
  text-shadow: none;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  border: 2px solid;
  color: #caa500;
  position: absolute;
  top: 16px;
  right: 17px;
  font-size: 10px;
  opacity: 1;
  padding: 0;
  margin: 0;
}
#modal-pregunta-gobernador .modal-body, #modal-suscribete .modal-body {
  padding: 23px 0px 20px 35px;
}
#modal-pregunta-gobernador .modal-body .col-form-label, #modal-suscribete .modal-body .col-form-label {
  text-align: left;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: 18px;
}
#modal-pregunta-gobernador .modal-body .form-control, #modal-suscribete .modal-body .form-control {
  height: 32px;
  background-color: #BCBCBC;
  border-radius: 0;
  border: none;
}
#modal-pregunta-gobernador .modal-body .form-control-textarea, #modal-suscribete .modal-body .form-control-textarea {
  background-color: #BCBCBC;
  width: 100%;
  height: 100px;
}
#modal-pregunta-gobernador .modal-footer, #modal-suscribete .modal-footer {
  border-top: none;
}
#modal-pregunta-gobernador .modal-footer button, #modal-suscribete .modal-footer button {
  background-color: transparent;
  border: none;
}
#modal-pregunta-gobernador .modal-footer button img, #modal-suscribete .modal-footer button img {
  max-width: 71px;
}

#modal-suscribete .icon-newsletter {
  font-size: 5rem;
  color: white;
}

#modal-alert .modal-content {
  background-image: url("images/home/texture-form.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 209px;
  background-color: #4F5970;
  border: none;
  border-radius: 23px;
}
#modal-alert .modal-header {
  background-image: url(images/header/bg-alerta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #4F5970;
  border-bottom: none;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  padding-bottom: 34px;
}
#modal-alert .modal-header .img-full {
  position: relative;
  margin-top: -25px;
  float: right;
  text-align: right;
  max-width: 169px;
}
#modal-alert .modal-header p {
  margin-bottom: 0;
  line-height: 29px;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 36px;
  color: #fff;
  padding-top: 15px;
}
#modal-alert .modal-header span {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 32px;
  color: #CAA500;
}
#modal-alert .modal-header .close {
  text-shadow: none;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  border: 2px solid;
  color: #bbbbbb;
  position: absolute;
  top: -40px;
  right: 17px;
  font-size: 10px;
  opacity: 1;
  padding: 0;
  margin: 0;
}
#modal-alert .modal-header h5 {
  border-radius: 15px;
  position: relative;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  border: 5px solid #8F8F8F;
  background-color: #333333;
  width: 57%;
  margin: -35px auto 0;
  padding: 12px 15px 12px 94px;
}
#modal-alert .modal-header h5 img {
  position: absolute;
  left: -83px;
  top: -42px;
}
#modal-alert .modal-body {
  padding: 30px 30px 26px;
}
#modal-alert .modal-body .img-modal {
  margin: 0 auto;
  padding: 5px 20px 20px;
  display: block;
  max-width: 800px;
}
#modal-alert .modal-body p {
  font-size: 1em;
  font-family: "Ubuntu";
  font-weight: bold;
  color: #fff;
}
#modal-alert .modal-body .link-alerta {
  font-family: "Ubuntu";
  font-size: 1em;
  font-weight: bold;
  padding-top: 10px;
  color: #fff;
  display: block;
  text-align: center;
}
#modal-alert .modal-body iframe {
  width: 100%;
  min-height: 350px;
}
#modal-alert .modal-footer {
  border-top: none;
}

/*---- /Fin Modals/ -----*/
.clima ul {
  color: #4C4738;
  padding: 0px 17px;
  background-color: #DEDAD0;
  margin: 0;
}

.clima li {
  font-family: "Panton";
  display: inline-block;
}

.clima li.city {
  font-family: "Panton";
  font-weight: bold;
}

.social-networks li {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
}

.social-header {
  margin-top: 36px;
  margin-bottom: 0;
  text-align: right;
}
.social-header li:first-child img {
  max-width: 50px;
}
.social-header li:first-child a {
  width: initial;
  height: initial;
}
.social-header li:first-child a:hover {
  opacity: 0.7;
  background-color: transparent;
  border-radius: 0;
}
.social-header li:last-child img {
  max-width: 32px;
}
.social-header li:last-child a {
  border-radius: 8px;
  padding: 0;
  width: 48px;
  height: 48px;
}
.social-header li:last-child a i {
  font-size: 32px;
}
.social-header a {
  text-align: center;
  display: block;
  width: 36px;
  height: 36px;
  font-size: 22px;
  color: #AA983F;
  border-radius: 20px;
  padding: 2px;
}
.social-header a:hover {
  color: #AA983F;
  background-color: #DDDAD0;
}

.social-modal {
  margin: 0;
}
.social-modal a {
  background-color: #E2E2E2;
  text-align: center;
  display: block;
  width: 36px;
  height: 36px;
  font-size: 22px;
  color: #AA983F;
  border-radius: 20px;
  padding: 2px;
}
.social-modal a:hover {
  color: #AA983F;
  background-color: #4a4a4a;
}

/*------- slider ------*/
.wrapper-slider {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #DADADA;
}

.quinto-color {
  background-color: #7A6F44;
}

.sexto-color {
  background-color: #635C44;
}

.septimo-color {
  background-color: #49453C;
}

.rectangle-content {
  border-radius: 0px 0px 18px 0px;
  padding: 38px 50px 38px 32px;
}

.rectangle-content a {
  margin: 0;
  font-size: 1.18em;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: 20px;
}

/*
.rectangle-content a{
	margin: 0;
    font-size: $font-size-20px;
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 500;
    line-height: 26px;
}*/
.rectangle-content a:hover {
  text-decoration: none;
  color: #fcf5d2;
}

.content-service-slider {
  padding: 0;
  margin: 0;
}

.content-service-slider li {
  margin-bottom: 17.5px;
  list-style: none;
}

.content-service-slider li:last-child {
  margin-bottom: 0px !important;
}

.p-absolute {
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.cycle-pager-nav {
  z-index: 101;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 28px;
}

.cycle-pager-nav span {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 5px;
  display: inline-block;
  border-radius: 30px;
  text-indent: -99999999px;
  color: #fff;
  width: 10px;
  height: 10px;
}

.cycle-pager-nav span.cycle-pager-active {
  background-color: transparent !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.title-nota-slider {
  padding: 15px 25px 31px 25px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.title-nota-slider h4 {
  font-family: "Ubuntu";
  font-weight: 500;
  color: #fff;
  font-size: 1.25em;
}

.over-nota img {
  max-height: 408px;
}

/*------- services ------*/
.wrapper-services {
  margin-top: 20px;
}

.img-style-service {
  background-position: 90%;
  background-repeat: no-repeat;
}

.img-1 {
  background-image: url(images/home/programas-sociales.png);
  background-size: 85px;
}

.img-2 {
  background-image: url(images/home/tramites-servicios.png);
  background-size: 85px;
}

.img-3 {
  background-image: url(images/home/pagos-contribuciones.png);
  background-size: 85px;
}

.img-4 {
  background-image: url(images/home/atencion-ciudadana.png);
  background-size: 85px;
}

.img-6 {
  background-image: url(images/home/preguntas-frecuentes.png);
  background-size: 85px;
}

.block-service {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 110px;
  position: relative;
  font-size: 18px;
  color: #7A6F44;
  padding: 30px 120px 30px 50px;
  border-bottom: 2px solid #70be4b;
  background-color: #FCF5D0;
}
.block-service p {
  margin: 0;
  line-height: 20px;
  display: table-cell;
  vertical-align: middle;
  font-family: "Ubuntu";
  font-weight: 500;
}

.block-service:hover {
  background-color: #AA983F;
  color: #fff;
}

.bg-texture-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(images/home/texture-bottom-block.png);
}

.bg-texture-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(images/home/texture-top-block.png);
}

.brd-left-1 {
  display: block;
  height: 74px;
  border-left: 2px solid #70be4b;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.mrg-btm-15 {
  margin-bottom: 15px;
}

/*------- lasts news ------*/
.wrapper-noticias {
  margin-top: 15px;
  padding-right: 15px;
}
.wrapper-noticias .separator-container {
  margin-bottom: 20px;
}
.wrapper-noticias span {
  text-transform: uppercase;
  font-family: "Panton";
  line-height: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #808080;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
}
.wrapper-noticias h5 {
  margin-bottom: 19px;
  font-family: "Panton";
  font-weight: bold;
  font-size: 1em;
}
.wrapper-noticias .btn-readmore {
  display: inline-block;
  padding: 1px 12px;
  border: 1px solid #70be4b;
  color: #70be4b;
}
.wrapper-noticias .btn-readmore:hover {
  background-color: #70be4b;
  color: #fff;
}
.wrapper-noticias .titulo-nota {
  margin-bottom: 25px;
}

/*-----Search-----*/
.cant-result h3 {
  padding-bottom: 25px;
}

.search-criteria {
  font-weight: bold;
  color: #796f44;
}

#content-nota .item-nota {
  margin-bottom: 20px;
}
#content-nota .contenedorNota {
  box-shadow: 0 0 5px #dfdfdf;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#content-nota .titulo-nota {
  padding: 10px;
}
#content-nota .titulo-nota span {
  text-transform: uppercase;
  font-family: "Panton";
  line-height: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #808080;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
}
#content-nota .titulo-nota h5 {
  margin-bottom: 15px;
  font-family: "Panton";
  font-weight: bold;
  font-size: 1em;
}
#content-nota .titulo-nota a {
  display: inline-block;
  padding: 1px 12px;
  border: 1px solid #70be4b;
  color: #70be4b;
}

#content-nota .titulo-nota a:hover{
	color: white;
	background: #70be4b;
}

.posts-loader {
  padding: 20px;
  text-align: center;
}

/*efect hover*/
.hvr-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade-pink:hover {
  background-color: #DEDAD0;
}

.hvr-fade-orange:hover {
  background-color: #E6A263;
}

.hvr-fade-green:hover {
  background-color: #80A953;
}

.hvr-fade-turquoise:hover {
  background-color: #1CB799;
}

/*---- /Single/ -----*/
.entry-title {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}

.nota-contenido, .nota-contenido-page {
  margin-top: 25px;
}
.nota-contenido strong, .nota-contenido-page strong {
  font-family: "Ubuntu";
  font-weight: bold;
}
.nota-contenido p, .nota-contenido-page p {
  line-height: 22px;
  text-align: justify;
  font-family: "ubuntu-light";
  font-size: 1em;
  margin-bottom: 22px;
}

.nota-contenido img {
  width: 100%;
}

.nota-extracto {
  margin-top: 25px;
}
.nota-extracto p {
  text-align: justify;
  font-family: "Ubuntu";
  color: #7F703F;
  font-size: 1em;
  margin-bottom: 10px;
}
.nota-extracto span {
  display: block;
  height: 2px;
  width: 28%;
  max-width: 220px;
  border-bottom: 1px solid #70be4b;
}

.addthis_sharing_toolbox {
  clear: initial !important;
}

.at-icon {
  fill: #70be4b !important;
  border: 0;
}

.at-share-tbx-element .at-share-btn {
  background-color: transparent !important;
  max-width: 32px;
  display: inline-block !important;
  margin: 0 3px 10px !important;
}

.redes-share > span {
  padding-right: 22px;
  color: #70be4b;
  margin-top: 6px;
  float: left;
}

/*controls nav*/
.contenedor-nav-single {
  text-align: center;
  margin-top: 35px;
}

.contenedor-nav-single a {
  margin: 0 30px;
  display: inline-block;
}

.navposts span, .navposts i {
  display: inline-block;
}
.navposts span p {
  font-family: "Ubuntu";
  font-size: 18px;
  color: #7F703F;
}
.navposts .fa-angle-left {
  margin-left: 23px;
}
.navposts .fa-angle-right {
  margin-right: 23px;
}
.navposts i {
  color: #70be4b;
  border-radius: 11px;
  vertical-align: middle;
  display: inline-block;
  background-color: #DEDAD0;
  padding: 5px 13px;
  font-size: 31px;
}

/*---- /Fin Single/ -----*/
/*---- /Sala de prensa/ -----*/
#saladeprensa .bg-color-gray {
  border-top: 1px solid #b09834;
  border-bottom: 1px solid #b09834;
  background-color: #DEDAD0;
}
#saladeprensa .title a {
  padding: 10px 5px 7px 18px;
  display: block;
  color: #7F703F;
  border-bottom: 1px solid #C9B77C;
  line-height: 19px;
}
#saladeprensa .title p {
  color: #7F703F;
  text-align: center;
  padding: 29px 38px;
}
#saladeprensa .title a:hover {
  color: #49453c;
  border-bottom: 1px solid #49453c;
}
#saladeprensa .overlayer-loader img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#saladeprensa .form-calendar button {
  margin-left: 13px;
  border: none;
  background-color: transparent;
  padding: 0;
}
#saladeprensa .form-calendar button i {
  font-size: 26px;
  color: #70be4b;
  width: 100%;
  max-width: 40px;
  height: 40px;
  background-color: #DEDAD0;
  padding: 1px;
  border: none;
  border-radius: 11px;
  float: left;
}
#saladeprensa .form-calendar button span {
  font-size: 22px;
  color: #b09834;
  font-family: "Ubuntu";
  font-weight: 500;
  margin-top: 3px;
  display: flex;
  padding-left: 11px;
}
#saladeprensa .form-calendar button:hover i {
  background-color: #d9b400;
  color: #fff;
}
#saladeprensa .form-calendar button:hover span {
  color: #d9b400;
}
#saladeprensa .form-calendar .form-group {
  width: 88%;
  float: left;
  padding-left: 13px;
}
#saladeprensa .form-calendar .form-control {
  border: 1px solid #70be4b;
  color: #7F703F;
  font-size: 15px;
}
#saladeprensa .form-calendar .icon-calendar-fix i {
  color: #b09834;
  top: 9px;
  position: absolute;
  right: 11px;
}
#saladeprensa .form-calendar ::placeholder {
  color: #7F703F;
  font-size: 15px;
  font-family: "Ubuntu";
}
#saladeprensa .form-calendar :-ms-input-placeholder {
  color: #7F703F;
  font-size: 15px;
  font-family: "Ubuntu";
}
#saladeprensa .form-calendar ::-ms-input-placeholder {
  color: #7F703F;
  font-size: 15px;
  font-family: "Ubuntu";
}
#saladeprensa .form-calendar label {
  font-family: "Ubuntu";
  font-size: 15px;
  color: #7F703F;
  margin-bottom: 4px;
  margin-left: 5px;
}
#saladeprensa .ul-media {
  margin: 0;
  padding: 0;
}
#saladeprensa .ul-media li {
  margin-left: -1px;
  margin-bottom: -1px;
  border: 1px solid #C9B77C;
  list-style: none;
  width: 50%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
#saladeprensa .ui-datepicker-inline {
  width: 98%;
}
#saladeprensa iframe {
  background-color: #fff !important;
  margin-bottom: -5px !important;
}

/*---- /Fin Sala de prensa/ -----*/
/*---- /Agenda/ -----*/
.pdg-top-25 {
  padding: 25px 0;
}

.icon-title {
  display: inline-block;
  background-image: url(images/icon-titlte-agenda.png);
  width: 43px;
  height: 41px;
}

h3.title-agenda {
  margin: 15px 0;
}

h3.title-agenda span {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  vertical-align: top;
}

.container-agenda {
  width: 89%;
  margin: 18px auto 5px;
}

.caledar_content, .caledar_meses {
  text-align: center;
  padding: 0;
  margin: 0;
}

.caledar_content li {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 14px;
  padding: 0 9px;
  display: inline-block;
}

.caledar_content li.active {
  border-radius: 3px;
  background-color: #49453c;
  font-weight: bold;
  color: #d9b400;
}

.caledar_content li:hover {
  cursor: pointer;
  color: #a9983e;
}

.list-agenda-rapida {
  margin-top: 50px;
}

.select_a_no {
  padding: 8px;
  background-color: #DEDAD0;
  text-align: center;
}

.last-year, .next-year {
  font-size: 19px;
  display: inline-block;
  max-width: 31px;
  max-height: 31px;
  border: #49453c 2px solid;
  border-radius: 26px;
  padding: 4px 10px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}
.last-year i, .next-year i {
  color: #49453c;
}

.last-year:hover, .next-year:hover {
  background-color: #49453C;
  color: #FFFFFF;
}
.last-year:hover i, .next-year:hover i {
  color: #fff;
}

.select_a_no .year {
  margin: 0 10px;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  background-color: #49453C;
  padding: 3px 22px;
}

.caledar_meses li {
  text-transform: capitalize;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 2px 19px;
  margin: 0 10px;
  color: #fff;
  background-color: #a9983e;
  -webkit-box-shadow: 3px 4px 0px 1px #d9b400;
  -moz-box-shadow: 3px 4px 0px 1px #d9b400;
  box-shadow: 3px 4px 0px 0px #d9b400;
  cursor: pointer;
}

.caledar_meses li:hover, .caledar_meses li.active {
  background-color: #796f44;
  -webkit-box-shadow: 3px 4px 0px 1px rgba(169, 152, 62, 0.9);
  -moz-box-shadow: 3px 4px 0px 1px rgba(169, 152, 62, 0.9);
  box-shadow: 3px 4px 0px 0px rgba(169, 152, 62, 0.9);
}

.caledar_meses {
  margin-top: 20px;
}

.content-days {
  margin-top: 25px;
  padding: 6px 0;
  background-color: #DEDAD0;
}

table.list-agenda {
  border-collapse: initial !important;
  border-spacing: 0 0px;
}

.list-agenda td {
  font-size: 0.812em;
  line-height: 20px;
  border-style: solid none;
  padding: 15px 20px !important;
  border: none !important;
}

.list-agenda td a {
  font-size: 1em;
  color: #2b2b2b;
}

.list-agenda td a:hover {
  color: #42a400;
}

.list-agenda td:first-child {
  font-size: 0.812em;
  width: 120px;
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

.list-agenda td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
}

.list-agenda > tbody > tr:nth-of-type(odd) {
  background-color: #EEEEEE;
}

.no_hay_evento {
  border-radius: 20px;
  text-align: center;
  background-color: #EEEEEE;
}

.list-agenda {
  border: none;
}
.list-agenda th, .list-agenda td {
  border: none;
}

.list-agenda > thead > tr > th {
  text-align: center;
  border-bottom: none !important;
  border-top: none !important;
}

.title-date h3 {
  font-size: 18px;
  font-weight: bold;
}

.content-agenda-rapida {
  padding: 60px 60px 25px;
  background-color: #EEEEEE;
  border-radius: 0px 8px 8px 8px;
}

.list-agenda-rapida ul {
  margin: 0 0 30px;
}
.list-agenda-rapida ul li a {
  color: #2b2b2b;
  display: block;
  padding: 17px;
}
.list-agenda-rapida ul li a:focus, .list-agenda-rapida ul li a:hover {
  text-decoration: none;
}
.list-agenda-rapida ul li a.active {
  background-color: #a9983e;
  border-radius: 10px;
  color: #fff;
}
.list-agenda-rapida ul li.active a {
  background-color: #a9983e;
}

.button-tabs-calendar {
  margin: 0;
}
.button-tabs-calendar li {
  margin-right: 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #dedad0;
}
.button-tabs-calendar li a {
  color: #2b2b2b;
  display: block;
  padding: 17px;
}
.button-tabs-calendar li a, .button-tabs-calendar li a:focus, .button-tabs-calendar li a:active {
  text-decoration: none;
}
.button-tabs-calendar li a.active {
  background-color: #a9983e;
  color: #fff;
}

.button-tabs {
  margin-bottom: 0 !important;
}
.button-tabs li {
  border-radius: 12px 12px 0px 0px;
  display: inline-block;
  background-color: #EEEEEE;
}
.button-tabs li a {
  border-radius: 12px 12px 0px 0px !important;
}

.fecha-selected {
  border-radius: 6px;
  max-width: 85px;
  background-color: #dab914;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.fecha-selected span {
  display: block;
  line-height: 21px;
  font-weight: bold;
}

.fecha-selected .dia {
  font-size: 30px;
}

.fecha-selected .mes {
  font-size: 0.75em;
}

.tab-content {
  margin: 0 auto;
}

.tab-content .text-description {
  border-radius: 5px;
  background-color: #DCDCDC;
  padding: 28px 29px 32px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 24px;
}

.text-description a {
  display: inline-block !important;
  padding: 0px 6px 0px !important;
}

.tab-content li {
  list-style: none;
  margin-bottom: 60px;
}

.tab-content .title-date {
  margin-bottom: 6px;
  max-width: 83px;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.content-activities {
  margin-top: 50px;
}

.text-description span {
  display: block;
  /*margin-bottom:13px;*/
}

.week-actually {
  display: table;
  border-collapse: separate;
  border-spacing: 10px 8px;
  margin: 0;
}

.content-event-week {
  border-radius: 7px;
  padding: 10px;
  min-height: 330px;
}

.content-event-week .items a {
  color: #2b2b2b;
}

.content-event-week .items a:hover {
  color: #42a400;
}

.week-actually li {
  text-align: center;
  width: 14%;
  display: table-cell;
  border-radius: 7px;
}

.week-actually li .items {
  text-align: left;
}

.week-actually li span {
  font-size: 0.75em;
  display: block;
  padding: 11px 0 24px;
}

.week-actually .content-event-week > span {
  border-bottom: 3px solid #5EA10E;
  padding: 0px 0 1px;
  margin: 0 auto 17px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

span.day_name {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bolder;
  display: inline-block !important;
  margin: 0 5px 25px;
  color: #fff;
  background-color: #5ea10e;
  -webkit-box-shadow: 3px 4px 0px 1px #c3a400;
  -moz-box-shadow: 3px 4px 0px 1px #c3a400;
  box-shadow: 3px 4px 0px 0px #c3a400;
  padding: 3px 14px 3px !important;
}

.title-month {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.title-calendar-semana {
  font-size: 26px;
  text-align: center;
}

span .fa-circle {
  color: #5ea10e;
  font-size: 8px;
  padding-right: 4px;
}

/*
.item-nota .title a{
    min-height: 100px;
    padding: 15px 10px 17px;
    display: block;
    text-align: center;
    color: #4a4848;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 15px;
    line-height: 22px;
}
.item-nota .br-yellow{
    border-bottom: 9px solid #d9b800;
}*/
.content-bg {
  padding: 55px 0;
}

.week-actually li:nth-child(even) .content-event-week {
  background: #fff;
}

.week-actually li:nth-child(odd) .content-event-week {
  background-color: #E5E5E5;
}

.content-noticias h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  padding-bottom: 11px;
  font-size: 26px;
  color: #55565A;
}

.content-items-notas {
  text-align: center;
}

.content-items-notas a.leer-mas {
  margin: 32px 0 0;
  color: #fff;
  padding: 5px 10px;
  background-color: #d9b800;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  border-radius: 4px;
}

#twitter-widget-0 {
  width: 100% !important;
}

.title-seccion h3 {
  font-style: normal;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 25px;
  color: #49453c;
  padding: 0 15px;
  text-transform: uppercase;
  text-align: center;
}

.content-evento ul {
  margin: 0;
  padding: 20px;
}

.content-evento ul li {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title-meta {
  display: block;
  padding-bottom: 5px;
  padding-right: 6px;
  font-weight: bold;
}

.title-meta .fa {
  color: #796f44;
  padding-right: 7px;
}

/*---- /Fin Agenda/ -----*/
/*---- / Transparencia / -----*/
.bg-gray-transparencia {
  padding: 40px 0;
  background-color: #DEDAD0;
  -webkit-box-shadow: inset 0px 3px 14px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: inset 0px 3px 14px -2px rgba(0, 0, 0, 0.64);
  box-shadow: inset 0px 3px 14px -2px rgba(0, 0, 0, 0.64);
}

.item-transparencia {
  display: block;
  background-color: #a9983e;
  padding: 16px 20px;
  line-height: 26px;
  margin: 12px auto;
  width: 90%;
}
.item-transparencia .display-title {
  width: 33.33333%;
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: bold;
}
.item-transparencia .display-siglas {
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  color: #fff;
  font-family: "ubuntu-light";
}
.item-transparencia .w-100 {
  width: 100%;
}

.item-transparencia:hover {
  background-color: #353535;
}

/*---- /Fin Transparencia/ -----*/
/*---- /Normativa y gaceta oficial/ -----*/
.wrapper-full .normativa-gaceta .center-img {
  width: 100%;
  max-width: 400px;
}
.wrapper-full .normativa-gaceta .description {
  padding: 35px 0;
  width: 60%;
}
.wrapper-full .normativa-gaceta .description h4 {
  text-transform: uppercase;
  color: #5B3326;
  font-family: "Ubuntu";
  font-size: 18px;
  font-weight: 500;
}
.wrapper-full .normativa-gaceta .description p {
  font-family: "Verdana";
  font-size: 14px;
  color: #333333;
  text-align: justify;
}

/*---- /Fin Normativa y gaceta oficial/ -----*/
/*---- / Dependencias, opds y municipios/ -----*/
.item-dependencias.mirror .over-dependencia {
  right: 0 !important;
  left: initial;
}

.item-dependencias {
  position: relative;
  margin-bottom: 30px;
}
.item-dependencias .z_index-2 {
  z-index: 2;
}
.item-dependencias .over-dependencia {
  position: absolute;
  top: 0;
  left: 0;
  width: 540px;
  height: 474px;
  background-color: #495971;
  display: none;
  z-index: 1;
}
.item-dependencias .over-dependencia img {
  width: 100%;
  padding: 15px;
}
.item-dependencias .over-dependencia ul {
  margin: 0;
  padding: 0;
}
.item-dependencias .over-dependencia ul li {
  list-style: none;
}
.item-dependencias .over-dependencia ul li h5 {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 0.75em;
  color: #DFAE00;
}
.item-dependencias .over-dependencia ul li p {
  font-family: "Ubuntu";
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.item-dependencias .datos-dependencia {
  padding: 10px 25px;
}

/*---- / Fin Dependencias, opds y municipios/ -----*/
/*------- veracruz me llena de orgullo ------*/
.wrapper-orgullo .bk-coffee {
  background: #dddad0;
  width: 100%;
}

.wrapper-orgullo .bk-coffee .container {
  background: #dddad0;
  padding: 50px 0px 30px 15px;
  margin-top: 30px;
}

.wrapper-orgullo .bk-coffee-left {
  background: #dddad0;
  border-bottom: 2px solid #C4B77E;
  width: 100%;
}

.wrapper-orgullo .bk-white-left {
  background: white;
  width: 100%;
}

.wrapper-orgullo .bk-white-left .container {
  background: white;
  padding: 30px 0px 30px 15px;
  margin-top: 30px;
}

.wrapper-orgullo .bk-coffee-left .container {
  background: #dddad0;
  padding: 50px 0px 30px 15px;
  margin-top: 30px;
}

.wrapper-orgullo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.wrapper-orgullo .follow {
  font-family: "Verdana";
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #49453c;
  display: inline-block;
  float: left;
}

.wrapper-orgullo .social-networks {
  display: inline-block;
  float: left;
  margin-top: -4px;
}

.footer-center a.url-site {
  padding-top: 25px;
  display: block;
  font-size: 21px;
  letter-spacing: 5px;
}

footer .social-networks {
  margin: 0;
  padding: 0;
}

footer .social-networks li.facebook:hover a, .wrapper-orgullo .social-networks li.facebook:hover a {
  background-color: #485A88;
}
footer .social-networks li.facebook:hover a i, .wrapper-orgullo .social-networks li.facebook:hover a i {
  color: #fff;
}
footer .social-networks li.youtube:hover a, .wrapper-orgullo .social-networks li.youtube:hover a {
  background-color: #CD0100;
}
footer .social-networks li.youtube:hover a i, .wrapper-orgullo .social-networks li.youtube:hover a i {
  color: #fff;
}
footer .social-networks li.instagram:hover a, .wrapper-orgullo .social-networks li.instagram:hover a {
  background-color: #a52b9e;
}
footer .social-networks li.instagram:hover a i, .wrapper-orgullo .social-networks li.instagram:hover a i {
  color: #fff;
}
footer .social-networks a, .wrapper-orgullo .social-networks a {
  text-align: center;
  font-size: 22px;
  padding: 4px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 20px;
  display: block;
  margin-right: 10px;
  color: #49453C;
}
footer .social-networks .fab, .wrapper-orgullo .social-networks .fab {
  color: #7A6F44;
  font-size: 23px;
  position: relative !important;
}

/*------- Preguntas frecuentes ------*/
.content-term-como {
  margin-top: 50px;
}

.content-term-donde .accordion, .content-term-como .accordion {
  background-color: #DEDAD0;
}
.content-term-donde .accordion .panel-faq-term, .content-term-como .accordion .panel-faq-term {
  text-align: center;
  background-color: #494339;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.content-term-donde .accordion .panel-faq-term h3, .content-term-como .accordion .panel-faq-term h3 {
  padding: 8px;
  margin: 0;
}
.content-term-donde .accordion ul, .content-term-como .accordion ul {
  margin: 0;
  padding: 0;
}
.content-term-donde .accordion ul li, .content-term-como .accordion ul li {
  list-style: none;
  text-align: center;
}
.content-term-donde .accordion ul li a, .content-term-como .accordion ul li a {
  border-bottom: 1px solid #fff;
  padding: 11px 0;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  display: block;
}
.content-term-donde .accordion ul li .content-faq, .content-term-como .accordion ul li .content-faq {
  padding: 15px;
  background-color: #a9983e;
  color: #fff;
  text-align: justify;
}

/*------- Fin Preguntas frecuentes ------*/
.separator-container {
  text-align: center;
  position: relative;
  color: #49453c;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
}

.separator {
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
  color: #49453c;
  text-transform: uppercase;
  font-size: 25px;
}

.separator-container .separator.line-separator:before {
  margin: 0px 15px 0 0px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 320px;
  height: 22px;
  content: " ";
  background-image: url(images/home/izquierda-arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.separator-container .separator.line-separator:after {
  margin: 0px 0px 0 10px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 320px;
  height: 22px;
  content: " ";
  background-image: url(images/home/derecha-arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .separator-container .separator.line-separator:before,
.separator-container .separator.line-separator:after {
    width: 200px;
  }
}
.bk-white {
  background: white;
  padding: 10px;
}

.bk-white p {
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding-top: 10px;
  color: #49453C;
  margin-bottom: 0px;
  padding-right: 20px;
}

.bk-white span::first-letter {
  text-transform: uppercase !important;
}

.bk-white span {
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  color: black;
}

#grida {
  height: 373px;
  overflow-y: scroll;
}

#grida hr {
  height: 1px;
  width: 50%;
}

#grida .clearfix {
  width: 100%;
}

#grida .col-md-7 {
  padding-left: 0px !important;
}

.ver-mas-videos {
  background: #7a6f44;
  width: 100%;
  display: block;
  text-align: center;
  color: white !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.064em;
  font-family: "Panton";
  font-weight: bold;
  font-style: normal;
}

.ver-mas-videos:hover {
  cursor: pointer;
  background: #AA983F;
}

.magin-top-30 {
  margin-top: 30px;
}

#section2 {
  background-image: url("images/home/parallax_1.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gobierno-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.bk-coffee-left .niveles-de-gobierno {
  width: 160px;
}

.bk-coffee-left .dependencias {
  width: 110px;
}

.bk-coffee-left .entidades-opds {
  width: 140px;
}

.bk-coffee-left .municipios {
  width: 102px;
}

.contenido-gobierno hr {
  width: 80%;
  margin-top: 0px;
  border-bottom: 3px solid #AA983F;
}

.gobierno-link-child {
  font-family: "Panton";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 1.25em;
  color: #423210;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}

.gobierno-link-child:hover {
  color: #7A6F44;
}

.participacion-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 99px;
}

.participacion-link-child {
  color: #7A6F44;
  font-family: "Verdana";
  font-weight: bold;
  font-style: normal;
  font-size: 1.25em;
  text-align: center;
  display: block;
  padding-top: 5px;
}

.participacion-link-child:hover {
  color: #423210;
}

.externo-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 170px;
}

.transparencia-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 190px;
}

.link-videos {
  display: block;
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
  padding-top: 10px;
  color: #49453C;
  margin-bottom: 0px;
  padding-right: 20px;
}

.link-videos:hover {
  color: #7A6F44;
}

.top-footer {
  background-image: url(images/bk-footer.png);
  min-height: 54px;
  background-attachment: initial;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: #cab87c;
  padding-top: 40px;
}

.pad-left-20 {
  padding-left: 20px;
}

.back-footer {
  padding-bottom: 40px;
}

.back-footer h5 {
  color: #423210;
  text-align: center;
  font-family: "Verdana";
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 0.875em;
  font-style: normal;
}

.listado-recomendaciones li {
  line-height: 19px;
}

.listado-recomendaciones {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
}

.listado-recomendaciones li a {
  color: #7A6F44;
  font-size: 0.875em;
  font-weight: normal;
  font-style: normal;
  font-family: "Ubuntu";
}

.listado-recomendaciones li a:hover {
  text-decoration: underline !important;
  color: #49453C;
}

.ubicacion-footer {
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  color: #7F703F;
  font-size: 0.75em;
  text-align: center;
}

.footer-center {
  text-align: center;
  border-left: 1px solid #49453C;
  padding: 80px;
  border-right: 1px solid #49453C;
  margin-top: 34px;
  padding-top: 10px;
  padding-bottom: 35px;
}

.footer-center a span {
  color: #7A6F44 !important;
}

.logo-footer {
  padding-bottom: 15px;
  width: 81px;
  outline: 0 !important;
}

.suscribete {
  background: #49453C;
  color: white !important;
  border-radius: 14px;
  display: inline-block;
  margin: 30px auto;
  padding: 10px;
  font-size: 1em;
  font-family: "Verdana";
  font-weight: bold;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
}

.suscribete:hover {
  background: #7A6F44;
}

.wrapper-menu-footer {
  background: #7A6F44;
  width: 100%;
  padding: 20px 0 5px;
}

.wrapper-submenu-footer {
  border-bottom: 2px solid white;
}

.nav-menu-footer {
  margin-left: 0;
}

.nav-menu-footer li {
  max-width: 206px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid white;
}

.nav-menu-footer > li > a {
  display: block;
  padding-bottom: 7px;
  text-transform: uppercase;
}

.nav-menu-footer li a {
  color: #CAA500;
  font-family: "Verdana";
  font-weight: bold;
  font-style: normal;
  font-size: 0.875em;
}

.nav-menu-footer li .sub-menu {
  list-style: none;
  margin-left: 0px;
}

.nav-menu-footer li .sub-menu li {
  line-height: 16px;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  margin-bottom: 5px;
}

.nav-menu-footer li .sub-menu li a {
  color: white;
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
}

.nav-menu-footer li .sub-menu li a:hover {
  text-decoration: underline !important;
  color: #49453C;
}

.wrapper-bottom {
  width: 100%;
  text-align: center;
  background: #7b6f44;
}

.wrapper-bottom img {
  width: 32px;
  margin-top: 10px;
}

.wrapper-bottom p {
  color: white;
  margin-bottom: 0px;
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
  padding-top: 6px;
  padding-bottom: 10px;
}

.margen-30 {
  margin: 30px;
}

.wrapper-full {
  background: #DEDAD0;
  width: 100%;
  position: relative;
}

.center-img {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.biografia_gobernador h1 {
  color: #5B3326;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
}

.biografia_gobernador p {
  color: #333333;
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.bg-texture-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 206px;
  height: 415px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(images/pleca-left.png);
  z-index: 99;
  background-size: 100%;
  opacity: 0.3;
}

.cintillo_gris h5 {
  color: #5B3326;
  font-size: 23px;
  margin: 30px;
  font-weight: normal;
  font-style: normal;
  font-family: "Ubuntu";
}

.center {
  text-align: center;
}

.content-dependencias img {
  width: 150px;
}

.content-dependencias hr {
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid #C9B77C;
  margin-bottom: 30px;
}

.content-dependencias .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 40px;
}

.content-dependencias .row .center div {
  float: left;
}

.p-dependencias h3 {
  text-align: left;
  color: #494339;
  font-size: 18px;
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
  margin-top: 20px;
}

.p-dependencias h4 {
  text-align: left;
  color: #DFAE00;
  font-size: 18px;
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
}

.p-dependencias h5 {
  text-align: left;
  color: #494339;
  font-size: 1em;
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
}

.p-dependencias a {
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  border: 1px solid #999999;
  float: left;
  color: #999999;
  margin-right: 30px;
  display: inline-block;
  padding: 5px;
}

.p-dependencias a:hover {
  background: #AA983F;
  color: white;
}

.girar-izq {
  left: 0;
  top: 20%;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.container-gabinete {
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  overflow: visible;
}

.content-line-members {
  padding-bottom: 20px;
  margin-top: 40px;
}

/*footer*/
.footer-center a.url-site {
  padding-top: 25px;
  display: block;
  font-size: 21px;
  letter-spacing: 5px;
}

footer .social-networks {
  margin: 0;
  padding: 0;
}

footer .social-networks li.facebook:hover a, .wrapper-orgullo .social-networks li.facebook:hover a {
  background-color: #485A88;
}

footer .social-networks li.facebook:hover a i, .wrapper-orgullo .social-networks li.facebook:hover a i {
  color: #fff;
}

footer .social-networks li.youtube:hover a, .wrapper-orgullo .social-networks li.youtube:hover a {
  background-color: #CD0100;
}

footer .social-networks li.youtube:hover a i, .wrapper-orgullo .social-networks li.youtube:hover a i {
  color: #fff;
}

footer .social-networks li.twitter:hover a, .wrapper-orgullo .social-networks li.twitter:hover a {
  background-color: #79BDEF !important;
}

footer .social-networks li.twitter:hover a i, .wrapper-orgullo .social-networks li.twitter:hover a i {
  color: #fff !important;
}

footer .social-networks a, .wrapper-orgullo .social-networks a {
  text-align: center;
  font-size: 22px;
  padding: 4px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 20px;
  display: block;
  margin-right: 10px;
  color: #49453C;
}

footer .social-networks .fab, .wrapper-orgullo .social-networks .fab {
  color: #7A6F44;
  font-size: 23px;
  position: relative !important;
}

.separator-container {
  text-align: center;
  position: relative;
  color: #49453c;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
}

.separator {
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
  color: #49453c;
  text-transform: uppercase;
  font-size: 25px;
}

.separator-container .separator.line-separator:before {
  margin: 0px 15px 0 0px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 320px;
  height: 22px;
  content: " ";
  background-image: url(images/home/izquierda-arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.separator-container .separator.line-separator:after {
  margin: 0px 0px 0 10px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 320px;
  height: 22px;
  content: " ";
  background-image: url(images/home/derecha-arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .separator-container .separator.line-separator:before,
.separator-container .separator.line-separator:after {
    width: 200px;
  }
}
.bk-white {
  background: white;
  padding: 10px;
}

.bk-white p {
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  padding-top: 10px;
  color: #49453C;
  margin-bottom: 0px;
  padding-right: 20px;
}

.bk-white span::first-letter {
  text-transform: uppercase !important;
}

.bk-white span {
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  color: black;
}

#grida {
  height: 373px;
  overflow-y: scroll;
}

#grida hr {
  height: 1px;
  width: 50%;
}

#grida .clearfix {
  width: 100%;
}

#grida .col-md-7 {
  padding-left: 0px !important;
}

.ver-mas-videos {
  background: #7a6f44;
  width: 100%;
  display: block;
  text-align: center;
  color: white !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.064em;
  font-family: "Panton";
  font-weight: bold;
  font-style: normal;
}

.ver-mas-videos:hover {
  cursor: pointer;
  background: #AA983F;
}

.magin-top-30 {
  margin-top: 30px;
}

#section2 {
  background-image: url("images/home/parallax_1.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gobierno-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.bk-coffee-left .niveles-de-gobierno {
  width: 160px;
}

.bk-coffee-left .dependencias {
  width: 110px;
}

.bk-coffee-left .entidades-opds {
  width: 140px;
}

.bk-coffee-left .municipios {
  width: 102px;
}

.contenido-gobierno hr {
  width: 80%;
  margin-top: 0px;
  border-bottom: 3px solid #AA983F;
}

.gobierno-link-child {
  font-family: "Panton";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 1.25em;
  color: #423210;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}

.gobierno-link-child:hover {
  color: #7A6F44;
}

.participacion-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 99px;
}

.participacion-link-child {
  color: #7A6F44;
  font-family: "Verdana";
  font-weight: bold;
  font-style: normal;
  font-size: 1.25em;
  text-align: center;
  display: block;
  padding-top: 5px;
}

.participacion-link-child:hover {
  color: #423210;
}

.externo-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 170px;
}

.transparencia-img-child {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 190px;
}

.link-videos {
  display: block;
  font-family: "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
  padding-top: 10px;
  color: #49453C;
  margin-bottom: 0px;
  padding-right: 20px;
}

.link-videos:hover {
  color: #7A6F44;
}

footer {
  background: #cab87c;
  padding-top: 40px;
}

.pad-left-20 {
  padding-left: 20px;
}

.gober-depen {
  width: 122px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.gober-gabine {
  width: 119px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.enlaces-gobernador .line-separator:before,
.enlaces-gobernador .line-separator:after {
  width: 30% !important;
  margin-top: 10px !important;
}

.enlaces-gobernador a {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-family: "Ubuntu";
  color: #494339;
}

.enlaces-gobernador a:hover {
  color: #7A6F44;
}

.texto-header {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
}

.girar-izq {
  left: 0;
  top: 20%;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.container-gabinete {
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  overflow: visible;
}

.content-line-members {
  padding-bottom: 20px;
  margin-top: 40px;
}

.gabinete-card a img {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.info-secretario,
.divNotaGabinete {
  display: inline-block;
  float: left;
}

.content-info-semblanza h3 {
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  color: black;
}

.siglas-dependencia span {
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: normal;
  font-size: 1.25em;
  color: #D8B300;
}

.move-lefting {
  float: left;
  display: inline-block;
}

.pad-izq {
  padding-right: 0px !important;
}

.pad-der {
  padding-left: 0px !important;
}

.bk-niveles {
  width: 100%;
  border-bottom: 2px solid #cab87c;
}

.margin-bottom-50 {
  margin-bottom: 80px !important;
}

.niveles h3 {
  background: #7F703F;
  color: white;
  text-align: center;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: normal;
}

.niveles p {
  color: #7F703F;
  font-size: 15px;
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
}

.niveles a {
  color: #7A6F44;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-family: "Ubuntu";
  font-size: 15px;
}

.niveles a:hover {
  text-decoration: underline !important;
  color: #49453C;
}

.niveles .interno {
  padding-left: 40px !important;
}

.container-dependencias {
  padding: 30px;
  background: #DEDAD0;
  margin-bottom: 50px;
}

.dependencia-logos {
  background: white;
  padding: 30px;
  position: relative;
  height: 256px;
}
.dependencia-logos img {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: block;
}

.pleca-arriba-derecha {
  background-image: url(images/pleca-dependencia.png);
  background-size: 100%;
  width: 120px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.close-card {
  padding: 0px;
  line-height: 24px;
  border-radius: 53px;
  border: 2px solid #495971;
  font-size: 11px;
  position: absolute;
  top: 10px;
  left: 24px;
  z-index: 3;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #495971;
}

.hentry .nota-contenido a, .hentry .nota-contenido-page a {
  padding: 7px 5px;
  line-height: 23px;
  display: inline-block;
  margin-bottom: 19px;
  font-family: "Panton";
  font-weight: bold;
  font-size: 1em;
  color: #212529;
}

.hentry .nota-contenido a:hover, .hentry .nota-contenido-page a:hover {
  color: #7A6F44;
}

#carouselExampleIndicators {
  padding-bottom: 58px;
}

/*padron de medios*/
.content-padron-medios h4 {
  border-radius: 11px;
  font-size: 21px;
  background-color: #DEDAD0;
  padding: 14px;
  margin-bottom: 24px;
  text-align: center;
}

.wrapper-padron {
  background-image: url(images/bg-padron-medios.png);
  background-repeat: repeat-y;
  background-position: top right;
}
.wrapper-padron .bg-padron-2 {
  background-image: url(images/bg-padron-medios-2.png);
  background-repeat: no-repeat;
  background-position: left 80%;
}
.wrapper-padron .separator-padron h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 1em;
  width: 34%;
  max-width: 525px;
}
.wrapper-padron .content-padron-medios form button {
  margin: 0 auto;
  display: block;
  font-size: 22px;
  font-family: "Ubuntu";
  font-weight: bold;
  background-color: #7F703F;
  color: #fff;
  border: none;
}
.wrapper-padron .content-padron-medios li {
  padding-bottom: 10px;
}
.wrapper-padron .content-padron-medios a {
  font-size: 1em;
  color: #70be4b;
}
.wrapper-padron .content-padron-medios .form-control {
  height: 46px;
  font-family: "Ubuntu";
  font-size: 13px;
  background-color: #DEDAD0;
  border: 1px solid #D8B300;
  border-radius: 12px;
  color: #666666;
}
.wrapper-padron .content-padron-medios label {
  font-family: "Ubuntu";
  font-weight: bold;
  color: #7F703F;
}
.wrapper-padron .checkbox {
  width: 30.333%;
  padding-bottom: 22px;
}
.wrapper-padron .checkbox label:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-padron .checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #d8b300;
  width: 18px;
  padding: 1px 3px;
  height: 18px;
  float: left;
  margin-top: 3px;
  margin-right: 11px;
}
.wrapper-padron .checkbox .cr .cr-icon {
  color: #d8b300;
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}
.wrapper-padron .checkbox label input[type=checkbox] {
  display: none;
}
.wrapper-padron .checkbox label input[type=checkbox] + .cr > .cr-icon {
  opacity: 0;
}
.wrapper-padron .checkbox label input[type=checkbox]:checked + .cr > .cr-icon {
  opacity: 1;
}
.wrapper-padron .checkbox label input[type=checkbox]:disabled + .cr {
  opacity: 0.5;
}

.title-separador {
  margin-top: 80px;
  text-align: center;
}
.title-separador h5 {
  width: 170px;
  vertical-align: middle;
  display: inline-block;
}
.title-separador .separator-container .separator.line-separator:before {
  margin: 0px 0px 0 0px;
  width: 100%;
  max-width: 160px;
  background-position: right;
  background-size: cover;
}
.title-separador .separator-container .separator.line-separator:after {
  margin: 0px 0px 0 0px;
  display: inline-block;
  vertical-align: middle;
  max-width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-separador .btn-padron {
  font-size: 19px;
  border-radius: 9px;
  margin: 0 auto 50px;
  display: inline-block;
  color: #494339;
  padding: 5px 30px;
  background-color: #DEDAD0;
  font-family: "Ubuntu";
  font-weight: bold;
}
.title-separador img {
  margin-bottom: 25px;
}

.direccion-padron ul {
  padding: 0;
  margin: 0;
}
.direccion-padron ul li {
  list-style: none;
}
.direccion-padron h6 {
  font-family: "Ubuntu";
  font-weight: 500;
  color: #DFAE00;
}

.content-formatos ul {
  padding: 0;
  margin: 0;
}
.content-formatos ul li {
  list-style: none;
  margin-bottom: 10px;
}
.content-formatos ul li a {
  font-size: 14px;
  text-align: left;
  display: block;
  background-color: #70be4b;
  padding: 13px 22px;
  color: #fff;
  font-family: ubuntu;
  font-weight: 500;
}

/*404*/
.container-404 {
  margin: 70px 0;
}
.container-404 .logo-404 span.text-404 {
  text-align: center;
  color: #796f44;
  font-size: 250px;
  font-family: ubuntu;
  font-weight: 500;
  display: block;
  line-height: 238px;
}
.container-404 .logo-404 span.descripcion-404 {
  color: #796f44;
  font-size: 31px;
  font-family: ubuntu;
  font-weight: 500;
  display: block;
  text-align: center;
}
.container-404 .veracruz-404 {
  text-align: center;
}
.container-404 .veracruz-404 img {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
}
.container-404 .veracruz-404 .btn-404-inicio {
  margin-top: 25px;
}
.container-404 .veracruz-404 .btn-404-inicio a {
  border-radius: 11px;
  padding: 10px 15px;
  font-family: "Ubuntu";
  font-weight: 500;
  background-color: #49453C;
  color: white !important;
}
.container-404 .veracruz-404 .btn-404-inicio a:hover {
  background-color: #a9983e;
}

/*Multimedia*/
.title-section h2 {
  text-align: center;
  color: #3A3A3A;
  font-family: "TrajanPro";
  font-size: 39px;
  margin: 15px 0 5px;
}

.page-template-default .title-section h2 {
  margin: 15px 0 -10px !important;
}

#tabs .fotos, #tabs .videos, #tabs .infografias {
  background-repeat: no-repeat;
  margin: 0 16px;
}

#tabs .fotos {
  background-image: url(images/icon-fotos-tab.png);
  background-size: 32px;
  background-position: left 6px;
  padding: 10px 0px 10px 45px;
}

#tabs .fotos:hover {
  background-position: left -32px;
}

.bg-shadow-btm {
  background-image: url(images/bg-shadow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 29px;
  display: block;
}

.title-single-foto {
  margin: 24px auto;
  float: initial !important;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.gallery-date {
  margin-bottom: 17px;
  text-align: center;
  font: italic 1.3em "Gandhi Serif";
  color: #8d8d8d;
}

.gallery-container {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  position: relative;
  background: -moz-linear-gradient(left, #ffffff 0%, #f8f8f8 10%, #f8f8f8 90%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(10%, #f8f8f8), color-stop(90%, #f8f8f8), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #f8f8f8 10%, #f8f8f8 90%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #f8f8f8 10%, #f8f8f8 90%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #f8f8f8 10%, #f8f8f8 90%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #f8f8f8 10%, #f8f8f8 90%, #ffffff 100%);
}

.photo-gallery img {
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.gallery-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*Alerta prevencion de ahogamiento*/
.banner-vigilante {
  border-top: 13px solid #EB1111;
  border-bottom: 13px solid #FFEC00;
  position: relative;
  background-image: url(images/alertas-ahogamientos/imagen-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 560px;
}

.banner-vigilante img {
  max-width: 318px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.flag-ul {
  width: 50%;
  margin: 40px auto 0;
  padding: 0;
}

.flag-ul li {
  font-family: "ubuntu-light";
  font-size: 1em;
  padding-bottom: 45px;
  list-style: none;
}

.flag-ul li span.red {
  color: #C03A2B;
}

.flag-ul li span.yellow {
  color: #D9E021;
}

.flag-ul li span.green {
  color: #006837;
}

.recomendaciones {
  margin-top: 45px;
}

.line-triangulo {
  display: block;
  border-bottom: solid 1px #C9B77C;
}

.line-triangulo:after {
  height: 20px;
  content: " ";
  background-image: url(images/bullet-rombo.png);
  background-repeat: no-repeat;
  background-size: 20px;
  position: relative;
  top: 10px;
  background-position: center;
  display: block;
}

.btn-decalogo {
  border-radius: 8px;
  position: relative;
  background-color: #70be4b;
  padding: 5px 27px 5px 51px;
  line-height: 22px;
  max-width: 248px;
  width: 100%;
  color: #fff;
  margin: 55px auto;
  font-size: 17px;
  font-family: "Ubuntu";
  font-weight: 500;
  display: block;
}

.btn-decalogo i {
  background-color: #fff;
  color: #b09834;
  left: -8px;
  position: absolute;
  font-size: 65px;
  top: -7px;
  margin: 0 auto;
}

.btn-decalogo:hover {
  color: #fff;
  background-color: #796f44;
}

.btn-decalogo:hover i {
  color: #796f44;
}

.ol-recomendaciones li {
  font-family: "ubuntu-light";
  font-size: 1em;
}

/**
 * 4.0 Media querys
 * -----------------------------------------------------------------------------
 */
@media (max-width: 576px) {
  .sin-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  /*Header*/
  #sidr-menu .nav-menu-header {
    display: block !important;
  }

  .nav-menu-header {
    display: none !important;
  }

  .logo-veracruz img {
    max-width: 145px;
  }

  .brand-sublogo img, .brand-sublogo-n img {
    width: 90px;
  }

  #responsive-menu-button {
    margin-left: 10px;
    margin-right: 10px;
  }

  .social-header {
    text-align: right;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding-bottom: 11px;
    margin: 20px 0 0;
  }
  .social-header li:first-child img {
    max-width: 40px;
  }
  .social-header li:last-child a i {
    font-size: 25px;
  }
  .social-header li:last-child a {
    width: 35px;
    height: 35px;
  }

  /*slider*/
  .entry-title {
    font-size: 18px;
    margin: 0px 0 20px;
  }

  .p-absolute {
    position: initial !important;
  }

  .sin-padding-right {
    padding-right: 15px !important;
  }

  .sin-padding-left {
    padding-left: 15px !important;
  }

  .padding-middle {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .rectangle-content {
    border-radius: 0;
  }

  .content-service-slider {
    margin: 20px 0;
  }

  /*transparencia*/
  .bg-gray-transparencia {
    padding: 22px 0;
  }

  .item-transparencia {
    padding: 22px 8px;
    line-height: 26px;
    margin: 9px auto;
    width: 100%;
  }

  .item-transparencia .display-title {
    font-size: 17px;
  }

  .item-transparencia .display-siglas {
    line-height: 21px;
    font-size: 16px;
  }

  .separator {
    font-weight: bold;
    font-size: 19px;
  }

  .line-separator:before,
.line-separator:after {
    display: none !important;
  }

  /*Footer*/
  .footer-center {
    text-align: center;
    border-left: none;
    padding: 15px;
    border-right: none;
  }
  .footer-center a {
    letter-spacing: 0px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .rectangle-content {
    padding: 20px 23px 19.5px 20px;
  }
  .rectangle-content p {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (min-width: 992px) {
  .rectangle-content p {
    line-height: 20px;
  }

  .form-calendar .form-group {
    width: 86% !important;
  }
}
@media (max-width: 991px) {
  .separator-container .separator.line-separator:after,
.separator-container .separator.line-separator:before {
    width: 25%;
  }

  #gridafull {
    margin-top: 30px;
  }

  #section2 {
    min-height: 100px;
  }

  .contenido-gobierno,
.participacion-link-child {
    margin-bottom: 20px;
  }

  #grida .link-videos,
#grida span {
    padding-left: 30px !important;
  }
}
@media (min-width: 1200px) {
  .rectangle-content {
    padding: 23.5px 35px 23.5px 25px;
  }
  .rectangle-content p {
    font-size: 1.25em;
    line-height: 23px;
  }
}
/*---Devices medium and large---*/
@media (min-width: 992px) and (max-width: 1199px) {
  .rectangle-content {
    padding: 16px 15px 20.5px 15px;
  }
  .rectangle-content a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .rectangle-content {
    padding: 10px 13px 15.5px 10px;
    line-height: 17px;
    display: block;
  }
  .rectangle-content a {
    font-size: 12px;
    line-height: 12px;
  }
}
@media print {
  .container {
    width: auto;
  }

  #sidr-menu {
    display: none;
  }

  a[href*="//"]:after {
    content: " (" attr(href) ") ";
    color: #DEDAD0;
    text-decoration: none;
  }

  .wrapper-noticias .btn-readmore {
    font-size: 15px;
    text-decoration: none;
  }

  .contenido-gobierno {
    padding-bottom: 20px;
  }
  .contenido-gobierno a {
    display: block;
    text-decoration: none;
    text-align: center;
  }

  #saladeprensa .bg-color-gray {
    border: none !important;
  }
  #saladeprensa a {
    text-decoration: none;
    padding: 10px 5px 7px 18px;
    display: block;
    color: #7F703F;
    border-bottom: 1px solid #C9B77C;
    line-height: 19px;
  }

  .col-print-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-print-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media (max-width: 700px) {
  .externo-img-child,
.transparencia-img-child,
.participacion-link-child {
    margin-bottom: 30px !important;
  }
}
